.root {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 25% 30% 25%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.root p {
  transition: .5s;
}



.activeOption {
  color: yellow;
  text-shadow: gold 0 0 10px;
}

.leftParagraph {
  color: red;
  text-shadow: red 0 0 10px;
}